@import '../../../../../resources/css/app.css';

@custom-variant data-active (&[data-state~="active"]);

@layer base {
    [data-wire-tooltip-content], [data-wire-expanded="false"] > [data-wire-accordion-content], [data-wire-menu], [data-wire-tabs] [data-wire-tab-panel]:not(:first-child) {
        display: none;
    }
}

@utility rounded-auto-* {
    --height: --value(--radius-*, [length]);
    border-radius: calc(var(--height) * var(--radius-factor, 0.15));
}

body:has(> [data-wire-sidebar] + [data-wire-header]) {
    grid-template-areas:
        'sidebar header header'
        'sidebar main   aside '
        'sidebar footer aside ';
}

body:has(> [data-wire-header]) {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    grid-auto-columns: min-content 1fr min-content;
}

html {
    scrollbar-gutter: stable;
}

html:has([data-wire-modal][open]) {
    overflow: hidden;
}

[data-wire-modal] {
    opacity: 0;

    &[data-wire-position="right"][open] {
        transform: translateX(0);

        @starting-style {
            transform: translateX(100%);
        }
    }

    &[data-wire-position="left"][open] {
        transform: translateX(0);

        @starting-style {
            transform: translateX(-100%);
        }
    }

    &[data-wire-position="bottom"][open] {
        transform: translateY(0);

        @starting-style {
            transform: translateY(100%);
        }
    }

    &[open] {
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }
}
