@import '../../../../../resources/css/app.css';

@custom-variant data-active (&[data-wirekit-state~="active"]);

@layer utilities {
    [data-wire-tooltip-content], [data-wire-expanded="false"] > [data-wire-accordion-content], [data-wire-menu] {
        display: none;
    }
}

body:has(> [data-wire-sidebar] + [data-wire-header]) {
    grid-template-areas:
        'sidebar header header'
        'sidebar main   aside '
        'sidebar footer aside ';
}

body:has(> [data-wire-header]) {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    grid-auto-columns: min-content 1fr min-content;
}
